@model List<IFormFile>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["LoginInfoMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["LoginInfoMessage"]
    </div>
}

<div class="container content">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-header">
                    <h2 class="text-center mb-4">Import Data</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="ProcessImport" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="fileInput" class="form-label">Select files to upload (up to 2 files):</label>
                            <input type="file" class="form-control" id="fileInput" name="files" multiple accept=".csv, .xls, .xlsx" required />
                        </div>

                        <button type="submit" class="btn btn-primary btn-new">Upload Files</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('fileInput').addEventListener('change', function (e) {
        if (this.files.length > 2) {
            alert('You can only select up to 2 files.');
            this.value = '';  // Clear the file input
            e.preventDefault();
            return false;
        }
    });
</script>
