body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* Set a light background color */
}

.content {
  flex: 1;
  padding-top: 50px;
}

.login-card {
  background-color: #ffffff; /* Set a white background color for the card */
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.navbar-nav li.nav-item {
  padding: 0 80px; /* Adjust the padding as needed */
}

.navbar-nav li.nav-item a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333; /* Default text color */
}

.navbar-nav li.nav-item a:hover {
  color: red !important; /* Text color on hover */
  background-image: linear-gradient(to right, yellow, yellow); /* Yellow underline on hover */
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
}

.import-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.export-container {
  display: flex;
  padding-top: 20px;
}

.search-gadget {
  flex: 0.3; /* 30% width */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding-right: 10px; /* Optional: Adjust padding */
}

.list-content {
  flex: 7; /* 70% width */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding-left: 10px; /* Optional: Adjust padding */
}

.search-gadget h4 {
  margin-bottom: 10px;
}
.search-gadget label {
  display: block;
  margin-bottom: 5px;
}
.search-button {
  position: absolute;
  bottom: 10px;
  left: 10px; /* Adjust left position */
}
.list-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.list-content table {
  width: 100%;
}
.list-content th, .list-content td {
  text-align: left;
  padding: 10px;
}
.export-button {
  position: absolute;
  bottom: 10px;
  left: 10px; /* Adjust right position */
}
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px); /* Adjust width to prevent overlapping */
  padding: 0 10px;
}

.list-content {
  max-width:100vw !important; 
  max-height:80vh !important; 
  overflow:auto;
}